html, body {
    height: 98%;
}

body {
    background-color: #001f1e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    height: 550px;
    width: 400px;
    background-color: #c5c3af;
    border: 10px #cbcab2 solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.top-section {
    height: 100px;
    display: flex;
    align-items: center;
}

.display-area {
    flex: 1;
    background-color: #202020;
    border-radius: 7.5px;
    height: 75px;
    display: flex;
    align-items: end;
    justify-content: end;
}

.display-numbers {
    color: #57f542;
    font-family: 'Ubuntu Mono', monospace;
    font-weight: lighter;
    font-size: 60px;
}

.button-rows {
    flex: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row {
    display: flex;
    align-items: center;
}

button {
    flex: 1;
    font-family: 'Ubuntu Mono', monospace;
    font-weight: lighter;
    font-size: 25px;
    height: 80px;
    background-color: #585450;
    color: white;
    border-radius: 4px;
    margin: 1px;
}


.divide, .equals {
    flex: 0.2928;
}

