html, body {
    height: 98%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator {
    height: 550px;
    width: 400px;
    border: 2px black solid;
    border-radius: 10px;
}